<head>
  <base href="/"> 
  <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        
        <div class="navbar" id="searchBtnDiv">
          <form class="form-inline my-2 my-lg-0" action="/rederect" method="post">
            <input class="form-control mr-sm-2" name="input" type="text" placeholder="Adress/Contract" aria-label="Search" id="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
</header>
